[lang]{
    font-style: oblique;
    font-family: unset;
    text-align: left ;
    background-color: #737373;


}
.texto {
    font-family: cursive;
    text-align: right;
    background-color:  #F2F2F2;
}
[src]{
    float: right;
}
h1{
    font: size 100px;
    font-style: initial;
    font-family: Times New 'Times New Roman', Times, serif;
    color: #F2F2F2;
    text-align: center;
    text-shadow:  #C1D0D9 8px -19px;
    background-color:black;
}
.caixa-categoria {
    align-items: center;
    align-self: ;

}